body {
  background-color: #202035;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
  background-color: #202035;
  color: rgb(255, 255, 255);
  max-width: 600px;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-top: 10px;
  border-left: 50px;
  border-right: 50px;
  border-bottom: 10px;
  margin-left: auto;
  margin-right: auto; 
  padding: 20px;
  border: solid 2px;
  border-color: #94af8b;
  border-radius: 15px;
}


h2 {
  background-color: #202035;
  max-width: 600px;
  font-size: 30px;
  text-align: center;
  border-top: 10px;
  border-left: 50px;
  border-right: 50px;
  border-bottom: 20px;
  border: solid 2px;
  border-color: forestgreen;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto; 
  padding: 20px;
}


p {
  background-color: #202035;
  max-width: 600px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; 
  border: solid 2px;
  border-color: yellow;  
  border-radius: 15px;
}

form {
  background-color: #202035;
  max-width: 600px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto; 
  border: solid 2px;
  border-color: #a5764a;
  border-radius: 15px;
}

label {
  display: block;
  padding-top: 10px;

}

input[type=text] {
  background-color: white;
  color: black;
  width: 550px;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: solid 1px;
  border-color: #a5764a;
  border-radius: 4px;
}

input[type=password] {
  background-color: white;
  color: black;
  width: 550px;
  color: indigo;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: solid 1px;
  border-color: orange;
  border-radius: 4px;
}

input[type=submit] {
  background-color: forestgreen;
  color: black;
  width: 120px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: solid 1px;
  border-color: #376ea3;
  border-radius: 4px;
  padding: 14px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


a:link {
  color: rgb(43, 43, 252)
}


a:visited {
  color: rgb(135, 44, 144);
}


a:hover {
  color: yellowgreen
}


a:active {
  color: red
}


.centre {
  text-align: center;
  align-items: center;
  justify-content: center;
}
